NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
EMAIL_FROM=Kekgalleros.hu <info@kekgallerost.hu>
EMAIL_TEST_TOKEN=
EMAIL_TEST_TO=
NEXT_PUBLIC_SITE_URL=https://kekgallerost.hu